name: Swift CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: macos-14

    steps:
    - uses: actions/checkout@v4

    - name: Set up Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '15.4'

    - name: Build and Test
      run: |
        xcodebuild test \
          -project FileOrganizer/FileOrganiser.xcodeproj \
          -scheme FileOrganizer \
          -destination 'platform=macOS' \
          CODE_SIGNING_ALLOWED=NO
